.nav{
    color: white;
    height: 68px;
    border-bottom:2px solid #242731;
    width: 85%;
    display: flex;
    align-items: center;
}
.nav ul {
    list-style-type: none;
    display: flex;
    margin-left: 4rem;
}
.nav ul li:last-child{
    margin-left: 60rem;
}
.sec{
    border-bottom: 3px solid #3772FF;
    font-family: "Inter",sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    /* line-height: 18px; */
    color: #FFFFFF;
}
.opt{
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
}
#wallet{
    color: #3772FF;
    font-size: 1.5rem;
    position: absolute;
    margin-left: -2rem;
    font-weight: 900;
}
#tier{
    background-color: #A3E3FF;
    border-radius: 5px;
    position: absolute;
    width: 55.87px;
    height: 22.77px;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    margin-left: 2rem;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    letter-spacing: 0.24px;
    color: #3772FF;
}